<div class="container">
    <div class="row text-center">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <%= image_tag("cat1.png", class: "d-block w-100 img-fluid", alt: "Cat 1") %>
            <div class="carousel-caption">
                <h1 class="pb-4">Crazy4Cats</h1>
                <h4 class="pb-4">La Red Social que necesitaban nuestros Mishis Fashion</h4>
            </div>
            </div>
            <div class="carousel-item">
            <%= image_tag("cat6.png", class: "d-block w-100 img-fluid", alt: "Cat 6") %>
            <div class="carousel-caption">
                <h1 class="pb-4">Crazy4Cats</h1>
                <h4 class="pb-4">La Red Social que necesitaban nuestros Mishis Fashion</h4>
            </div>
            </div>
            <div class="carousel-item">
            <%= image_tag("cat10.png", class: "d-block w-100 img-fluid", alt: "Cat 10") %>
            <div class="carousel-caption">
                <h1 class="pb-4">Crazy4Cats</h1>
                <h4 class="pb-4">La Red Social que necesitaban nuestros Mishis Fashion</h4>
            </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
        </div>
    </div>
</div>


